In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [43]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [44]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [45]:
# Remove Not Assigned rows from Borough column
df=df[~(df['Borough']=='Not assigned')]

In [46]:
# Replace column contents where Neighborhood has value 'Not Assigned'
df['Neighborhood']=np.where(df['Neighborhood'] =='Not Assigned',df['Borough'],df['Neighborhood'])
# df.loc[df['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = df['Borough']

In [52]:
# Group by Postal Code and Borough and concatenate values for Neighborhood using comma as separator
result = df.groupby(['Postal Code','Borough'], sort=False)['Neighborhood'].apply(lambda x: ','.join(x)).reset_index()

In [57]:
# Print out row value
print("The number of rows in the resulting dataframe is "+str(result.shape[0]))

The number of rows in the resulting dataframe is 103