In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [3]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [4]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
# Remove Not Assigned rows from Borough column
df=df[~(df['Borough']=='Not assigned')]

In [6]:
# Replace column contents where Neighborhood has value 'Not Assigned'
df['Neighborhood']=np.where(df['Neighborhood'] =='Not Assigned',df['Borough'],df['Neighborhood'])
# df.loc[df['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = df['Borough']

In [7]:
# Group by Postal Code and Borough and concatenate values for Neighborhood using comma as separator
result = df.groupby(['Postal Code','Borough'], sort=False)['Neighborhood'].apply(lambda x: ','.join(x)).reset_index()
result.head()

In [8]:
# Print out row value
print("The number of rows in the resulting dataframe is "+str(result.shape[0]))

The number of rows in the resulting dataframe is 103

In [22]:
# Merging with coordinates data to create the final table
df_coordinates=pd.read_csv('https://cocl.us/Geospatial_data')
df_combined=pd.merge(result,df_coordinates,on='Postal Code')
df_combined.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494